
.icon {
    font-size: 1.25em;
}

.coffeecontainer {
    margin-right: 10px;
}

.ui.main.text.container {
    margin-top:7em;
}

.indexcontainer {
    margin-top:7em;
}

.showform {
    display: inline;
}